<div id="divHeadline">
    {{ headline }}
</div>

<div>
    <button id=btn0 class="square" (click)="handleBtnClick(0)">{{boardStatus[0]}}</button>
    <button id=btn1 class="square" (click)="handleBtnClick(1)">{{boardStatus[1]}}</button>
    <button id=btn2 class="square" (click)="handleBtnClick(2)">{{boardStatus[2]}}</button>
    <br>
    <button id=btn3 class="square" (click)="handleBtnClick(3)">{{boardStatus[3]}}</button>
    <button id=btn4 class="square" (click)="handleBtnClick(4)">{{boardStatus[4]}}</button>
    <button id=btn5 class="square" (click)="handleBtnClick(5)">{{boardStatus[5]}}</button>
    <br>
    <button id=btn6 class="square" (click)="handleBtnClick(6)">{{boardStatus[6]}}</button>
    <button id=btn7 class="square" (click)="handleBtnClick(7)">{{boardStatus[7]}}</button>
    <button id=btn8 class="square" (click)="handleBtnClick(8)">{{boardStatus[8]}}</button>
</div>

<div>
</div>

<div>
</div>